.board {
    padding: 20px;
    background: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.board__header {
    margin: 15px 0 30px 0;
}

.header__boardname {
    color: #c3672a;
    width: max-content;
    margin: 0 auto;
}

.board__create {
    color: #c3672a;
    width: max-content;
    margin: 0 auto;
}

.board__create:hover {
    cursor: pointer;
}

.board__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    height: available;
}
